<!--<a routerLink="employee">Employee</a>-->
<!--<a routerLink="rooms">Rooms</a>-->
<app-nav></app-nav>
<!--<router-outlet></router-outlet>-->
<!--  <div [ngSwitch]="role">-->
<!--    <div *ngSwitchCase="'User'">-->
<!--      User module-->
<!--    </div>-->
<!--    <div *ngSwitchCase="'Admin'">-->
<!--      <app-rooms></app-rooms>-->
<!--    </div>-->
<!--    <div *ngSwitchDefault>-->
<!--      You are not authorized to view this page!-->
<!--    </div>-->
<!--  </div>-->
<!--  <h1 #name></h1>-->
<!--  <app-footer>-->
<!--    <h1>This is from ng-content footer</h1>-->
<!--  </app-footer>-->

<!--  <app-employee></app-employee>-->


<!--  <app-container>-->
<!--    <h1>This is from ng-content container</h1>-->
<!--    <app-rooms></app-rooms>-->
<!--    <app-employee></app-employee>-->
<!--  </app-container>-->
<!--  <div>-->
<!--    <ng-template #user></ng-template>-->
<!--  </div>-->




